/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 13, 2025, 6:59:33 AM
    Author     : nhutt
*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


.center-xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

html, body {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

html {
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: #000;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    width: 100%;
}

.copy-container {
    text-align: center;
}

p {
    color: #fff;
    font-size: 24px;
    letter-spacing: .2px;
    margin: 0;
}

.handle {
    background: #ffe500;
    width: 14px;
    height: 30px;
    top: 0;
    left: 0;
    margin-top: 1px;
    position: absolute;
}

#cb-replay {
    fill: #666;
    width: 20px;
    margin: 15px;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: inherit;
    cursor: pointer;

    &:hover {
        fill: #888;
    }
}

.typing-text {
    color: #fff;
    font-size: 24px;
    letter-spacing: 0.2px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #fff;
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
